.experiencia { 
    text-align: center;
    background: rgb(163, 163, 255);
    padding: 1px;
}
#experiencia {
    padding: 0;
    list-style: none;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}